*{
    margin: 5px auto;
    padding: auto;
    
}
h1{
    font: 900 20pt arial;
    margin-top: 50px ;
}
body{
    background-color: rgb(16, 18, 63);
    text-align: center;
    margin: 90px;
    background-image: linear-gradient(to right, rgb(122, 40, 177), rgb(0, 0, 131));
}
input{
    width: 100px;
    height: 25px;
}

div#numb{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}
p{
    flex-direction: row;
    border-radius: 10px;
    
    
}
#calcular{
    color: white;
    background-color: rgb(16, 18, 63);
    border-radius: 30px;
    height: 40px;
    text-align: center;
    padding: auto;
    margin: auto;
    font-weight: 800;
    width: 280px;
    border: none;
    box-shadow: 2px 2px 2px rgb(201, 199, 199);
    background-image: linear-gradient(to right, rgb(107, 3, 177), rgb(0, 0, 131));
}

#res{
    margin-top: 20px;
}
.funcao{
    /*border: 1px solid black;*/
    box-shadow: 1px 3px 3px 1px rgb(194, 196, 201);
    width: 160px;
    margin: 0px auto;
    height: 30px;
    padding: 7px;
    background-color: white;
    margin-bottom: 10px;
}
#container{
    background-color: rgb(250, 246, 246);
    width: 330px;
    height: 450px;
    margin-top: 30px;
    border-radius: 20px;
    padding-top: 1px;
    box-shadow: 1px 1px 200px 1px rgb(48, 13, 51);
}
input.input{
    border: none ;
    border-radius: 9px;
    box-shadow: 1px 1px 1px 3px rgb(226, 226, 226);
    width: 275px;
}